<h2>Edit <%= current_admin.nickname %></h2> <h6><%= current_admin.role.name %><h6>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
<div id="profilForm">
	<div class="">
		<div class="form-group">
			<%= f.label :new_password %>
			<%= f.password_field :password, class:"form-control", autocomplete: "off", placeholder: "" + @minimum_password_length.to_s + " characters minimum" %>
		</div>

		<div class="form-group">
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation, class:"form-control", autocomplete: "off" %>
		</div>

    <div class="form-group">
      <%= f.label :picture_url %>
      <%= f.file_field :picture_url, class:"form-control", id: :admin_picture_url %>
      <% if f.object.picture_url? %>
        <%= image_tag f.object.picture_url.thumb.url %>
        <%= f.label :remove_image %>
        <%= f.check_box :remove_picture_url %>
      <% end %>
    </div>

		<div class="form-group">
			<%= f.label :current_password %>
			<%= f.password_field :current_password, class:"form-control", autocomplete: "off" %>
			<i>(we need your current password to confirm your changes)</i>
		</div>
	</div>


	<div class="">
		<div class="form-group">
			<%= f.label :email %>
			<%= f.email_field :email, class:"form-control", autofocus: true %>
		</div>

		<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
			<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
		<% end %>

    <div class="form-group">
      <%= f.label :nickname %>
      <%= f.text_field :nickname, class:"form-control" %>
    </div>

		<div class="form-group">
			<%= f.label :first_name %>
			<%= f.text_field :first_name, class:"form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name, class:"form-control" %>
		</div>

	</div>
</div>
<div class="actions">
	<%= f.submit "Update", class:"btn btn-primary" %>
</div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), class:"btn btn-danger" , data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
