<h1>Events</h1>

<table id="eventTable" class="table">
  <thead>
    <tr>
      <th>Name</th>
	    <th>Spiel</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Ort</th>
      <% if current_admin %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr data-link="<%= event_path(event) %>">
        <td><%= event.name %></td>
		    <td><%= event.game.name %></td>
        <td><%= event.startDate.strftime("%d/%m/%Y %I:%M") %></td>
        <td><%= event.endDate.strftime("%d/%m/%Y %I:%M") %></td>
        <td><%= event.ort %></td>
        <% if current_admin %>
          <td>
            <% if isOrganizer(event) || isAdmin %>
              <%= link_to 'Edit', edit_event_path(event) %>
              <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @events.blank? %>
    <h5>There are no Events containing the term <%= params[:search] %>.</h5>
<% end %>
<% if current_admin %>
  <%= link_to 'New Event', new_event_path %>
<% end %>
