<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["MAPS_KEY"]%>&callback=initMap" async defer></script>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Spiel:</strong>
  <%= @event.game.name %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @event.startDate.strftime("%d-%m-%Y %I:%M")%>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @event.endDate.strftime("%d-%m-%Y %I:%M") %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Ort:</strong>
  <%= @event.ort %>
  <div id="map"></div>
</p>

<p>
  <strong>Maximal participants:</strong>
  <%= @event.max_participants %>
</p>

<p>
  <strong>Participants:</strong>
  <% @participants.each do |participant| %>
    <p><%= participant.nickname %></p>
  <% end %>
</p>


<div class = "link-wrapper">
	<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?'} %> |
	<%= link_to 'Edit', edit_event_path(@event) %> |
	<%= link_to 'Back', events_path %> |
  <%= link_to "Participate", register_path %> |
  <%= link_to "Leave", leave_path %>
</div>
