<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["MAPS_KEY"]%>&callback=initMap" async defer></script>

<h2><%= @event.name %></h2>
<p>
  <strong>Organizer:</strong>
  <%= @event.organizer.nickname %>
</p>

<p>
  <strong>Spiel:</strong>
  <%= @event.game.name %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @event.startDate.strftime("%d-%m-%Y %I:%M")%>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @event.endDate.strftime("%d-%m-%Y %I:%M") %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Ort:</strong>
  <%= @event.ort %>
  <div id="map"></div>
</p>

<% if @event.max_participants != nil %>
  <p>
    <strong>Maximal participants:</strong>
    <%= @event.max_participants %>
  </p>
<% end %>

<% if @participants.length > 0 %>
  <p>
    <strong>Participants:</strong>
    <% @participants.each do |participant| %>
      <p><%= participant.nickname %></p>
    <% end %>
  </p>
<% end %>
<% if current_admin %>
  <div class = "link-wrapper">
    <% if isOrganizer(@event) || isAdmin %>
      <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?'} %> |
      <%= link_to 'Edit', edit_event_path(@event) %> |
    <% end %>
  	<%= link_to 'Back', events_path %> |
    <% if canParticipate %>
      <%= link_to "Participate", register_path %>
    <% end %>
    <% if canLeave %>
      <%= link_to "Leave", leave_path %>
    <% end %>
  </div>
<% end %>
