<div id="filter">
  <div id="filterWrapper">
    <%= form_tag(gamesFilter_path , method: :get) do %>
      <div class="form-group">
        <%= label_tag :play_time%>
        <%= text_field_tag :play_time, params[:play_time], class:"form-control"%>
      </div>
      <div class="form-group">
        <%= label_tag :max_player%>
        <%= text_field_tag :max_player, params[:max_player], class:"form-control"%>
      </div>
      <div class="form-group">
        <%= label_tag :min_player%>
        <%= text_field_tag :min_player, params[:min_player], class:"form-control"%>
      </div>
      <div class="form-group">
        <%= label_tag :releaseYear%>
        <%= text_field_tag :releaseYear, params[:releaseYear], class:"form-control"%>
      </div>
      <div class="form-group">
        <%= label_tag :category%>
        <%= select_tag :category_tag_id, options_for_select(CategoryTag.all.collect { |c| [c.name, c.id]}), include_blank: true, class:"form-control" %>
      </div>
      <div class="actions">
        <%= submit_tag "Filter", class:"btn btn-primary"%>
      </div>
    <% end %>
  </div>
  <div id="radialShadow"></div>
</div>
