<div id="single">
	<h2><%= @game.name %></h2>

	<div class="gameinfo">
		<span>
		  <i class="fa fa-clock-o" aria-hidden="true"></i>
		  <%= @game.playtime %>
		</span>

		<span>
		  <i class="fa fa-users" aria-hidden="true"></i>
		  <%= @game.maxPlayer %>
		</span>

		<span>
		  <i class="fa fa-gamepad" aria-hidden="true"></i>
		  <%= @game.category_tag.name %>
		</span>

		<span>
		  <i class="fa fa-calendar-o" aria-hidden="true"></i>
		  <%= @game.releaseYear %>
		</span>
	</div>

	<div id="articlePart">
		<img src="<%= @game.pictureUrl.normal.url %>">
		<p>
		  <%= @game.description %>
		</p>
	</div>
	<div id="commentPart">
		<h4>Comments</h4>
		<div id="comments">
		<%= render @game.comments %>
		</div>

		<% if current_admin %>
			<h5>Add a comment:</h5>
			<%= render 'comments/form' %>
			<div class = "link-wrapper">
				<% if isAdmin %>
					<%= link_to 'Destroy', @game, method: :delete, data: { confirm: 'Are you sure?'} %> |
					<%= link_to 'Edit', edit_game_path(@game) %> |
				<% end %>
				<%= link_to 'Back', games_path %>
			</div>
		<% end %>
	</div>
</div>
