<!doctype html>
<html>
<head>
    <title>BoardGameSite</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
	<div id="header">
	  	<h1> <u> Board Games Site </u> </h1>
  		<div id="menu">
    	<ul>
      		<li><%= link_to 'HOME', games_path %></li>
      		<li><a href="#" title="">ABOUT US</a></li>
      		<li><a href="#" title="">NEWS</a></li>
      		<li><a href="#" title="">CONTACT US</a></li>
      		<li><a href="#" title="">LINKS</a></li>
    	</ul>
  		</div>
  	</div>

  	<div id="content">

	  <%= yield %>

  	</div>

  	<div id="footer">
	  
  	</div>
</body>
</html>
